account_id: "xxx"

# 天勤账户配置
tianqin:
  username: "xxxxx"
  password: "xxxxx"

# 交易账户类型: kq(快期模拟),  real(实盘)
account_type: "real"

# 实盘交易账户配置 (可选，仅当account_type为account时使用)
trading_account:
  broker_name: "xxx"
  user_id: "xxx"
  password: "xxx"

# 目录配置
paths:
  switchPos_files: "D:/data/q-trader/switch_pos"
  logs: "D:/data/q-trader/logs"
  database: "D:/data/q-trader/db/q-trader.db"



# 行情订阅
market:
  subscribe_symbols:
    - "SHFE.rb2605"
    - "SHFE.ag2605"
    - "CZCE.MA601"
  kline_duration: 60

# API服务配置
api:
  host: "0.0.0.0"
  port: 8000
  cors_origins:
    - "http://localhost:3000"
    - "http://localhost:5173"
    - "http://localhost:8080"
    - "http://localhost:3001"

# 交易控制
trading:
  auto_trade: true
  paused: false

##################################
# 以下参数只在系统初始化时生效
##################################

# 风控参数
risk_control:
  max_daily_orders: 10000
  max_daily_cancels: 5000
  max_order_volume: 50
  max_split_volume: 5
  order_timeout: 5

# 定时任务配置
scheduler:
  jobs:
    # 连接任务
    - job_id: pre_market_connect
      job_name: 盘前自动连接
      job_group: 交易
      job_description: 开盘前自动连接交易
      cron_expression: "55 8,20 * * *"
      enabled: true
      job_method: _pre_market_connect

    # 断开连接任务
    - job_id: post_market_disconnect
      job_name: 盘后断开连接
      job_group: 交易
      job_description: 收盘后断开交易连接
      cron_expression: "35 2,15 * * *"
      enabled: true
      job_method: _post_market_disconnect


    # 换仓任务
    - job_id: auto_rotation
      job_name: 自动换仓
      job_group: 换仓
      job_description: 开盘后自动执行换仓
      cron_expression: "5,35 9,21 * * *"
      enabled: true
      job_method: execute_position_rotation

    # 订单扫描任务
    - job_id: scan_orders
      job_name: 扫描换仓文件
      job_group: 换仓
      job_description: 扫描换仓文件
      cron_expression: "*/10 * * * * *"
      job_method: _scan_orders
      enabled: true

    # 导出任务
    - job_id: post_market_export
      job_name: 收盘后处理
      job_group: 交易
      job_description: 收盘后处理
      cron_expression: "35 15 * * *"
      enabled: true
      job_method: _post_market_export

  
    # 系统任务
    - job_id: test_log
      job_name: 测试日志任务
      job_group: 系统
      job_description: 每5秒输出测试日志
      cron_expression: "*/5 * * * * *"
      job_method: _test_log
      enabled: false

    - job_id: cleanup_alarms
      job_name: 清理旧告警
      job_group: 系统
      job_description: 每天凌晨2点清理3天前的告警
      cron_expression: "0 0 2 * * *"
      job_method: _cleanup_old_alarms
      enabled: true
